[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

dj-database-url = "*"
Django = "*"
django-crispy-forms = "*"
django-heroku = "*"
gunicorn = "*"
psycopg2 = "*"
pytz = "*"
sqlparse = "*"
whitenoise = "*"
Django>=3.0.0,<3.0.8
djangorestframework>=3.9.0,<3.10.0
Pillow
django-crispy-forms
django-heroku
gunicorn


[requires]

python_version = "3.8.3"